body{
   background: linear-gradient(to right, #000000, #152331);
}
.to-do-list{
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  margin-top:100px;
}

h1{
  font-size:4rem;
  color:white;
}
button{
  font-size:1.7rem;
  font-weight:bold;
  padding:10px 20px;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  transition:background-color 0.5s ease;
}

.add-button{
  background-color:green;
}
.add-button:hover{
  background-color:lightgreen;
}

.delete-button{
  background-color:red;
}
.delete-button:hover{
  background-color: rgb(228, 86, 86);
}

.move-button{
  background-color:blue;
}
.move-button:hover{
  background-color: rgb(41, 41, 158);
}

input[type="text"]{
  font-size:1.6 rem;
  padding:10px;
  border:2px solid black;
  border-radius:5px;
  color:rgb(54, 36, 36);
}
ol{
  padding:0;
}
li{
  font-size:2rem;
  font-weight: bold;
  padding:15px;
  background-color:wheat;
  margin-bottom:10px;
  border:3px solid green;
  border-radius:5px;
  display:flex;
  align-items:center;
}
.text{
flex:1;
}

.delete-button , .move-button{
  padding:8px 12px;
  font-size:1.4rem;
  margin-left:10px;
}